
@import "mixin";

#about {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;

    & > * {
        border: 3px solid red;
    }

    .info {
        width: 48%;
        h2 {
            color: blue;
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1rem;
        }
        .action {
            margin-right: 1rem;
            background: royalblue;
            color: #fff;
            padding: .3rem .6rem;
            border:none;
            border-radius: 0.3rem;
        }

    }
    
    .image {
        width: 48%;
    }

}