.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 5rem;
}

.titule {
  font-size: 3rem;
  font-weight: bold;
  color: #eb3941;
}

.content {
  font-size: 1.5rem;
  color: #d1cece;
  line-height: 2.25rem;
  margin-top: 2rem;
}

.me {
  border-radius: 50%;
  margin-bottom: 40px;
  border: 1px solid #eb3941;
  box-shadow: 0 0 0 5px #eb3941;
  transition: all 0.5s ease-in-out;
}

.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}