ul {
    list-style-type: none;
}

.navbar-conteiner {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
    margin-right: 2rem;
    z-index: 600;
    z-index: 500;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #242424;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
    z-index: 600;
    z-index: 500;
}

.menu-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    z-index: 600;
    z-index: 500;
}

.menu-mobile button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
    z-index: 600;
    z-index: 500; 
}

.navbar-list{
    display: flex;
    gap: 1rem; /* Esta propiedad equivale a space-x en Tailwind */
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.navbar-list li{
    display: inline;
    float: right;
    padding: 15px;
    font-size: 16px;
}

.navbar-list a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    animation: fadeIn 1s ease-in-out;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.navbar-list a:hover{
    color: #ff6363 !important;
    font-size: 2rem;
    text-decoration: underline;
}


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }